.login-body{
    min-height: 100vh;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
    background-image: url('src/assets/farm-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-body .row{
    min-height: 100vh;
}

.login-body .card{
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 0px;
    padding: 24px;
    background-color: transparent;
}

.btn-login{
    background-color: #54a636;
    border-radius: 0px;
    color: white;
    border-color: #54a636;
    width: 100%;
}

.btn-login:hover{
    background-color: darkgreen;
    border-radius: 0px;
    color: white;
    border-color: darkgreen;
    width: 100%;
}


.input-sec{
    display: flex;
    flex-direction: column;
}

.input-sec .form-control{
    border-radius: 0px;
    font-size: 14px !important;
    padding: 5px 12px !important;
}

.input-sec .form-control:active{
    outline: none;
}


.input-sec .form-control.error{
    border: 1px solid red;
}

.input-sec .form-control.success{
    border: 1px solid green;
}



.register-link{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}


.login-body .card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.login-body .card.flipped {
  transform: rotateY(360deg);
}

.login-body .card-body {
  backface-visibility: hidden;
}

.login-body .card-body.register {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}


.password-check{
    color: white;
}